### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
env/
venv/
.env

*.sqlite
*.sqlite3
*.db
flask_session/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
*.log
MUM/
node_modules/*
node_modules
